.container {
  margin: 100px;
  width: 100%;
}

.board-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

.winner {
  margin-top: 20px;
  padding-top: 20px;
}
.winner h2 {
  color: #079ff6;

}
.winner .playAgnBtn {
  margin-top: 20px;
  border: 2px solid #079FF6;
  outline: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  color: #0093e8;
  font-weight: 600;
  letter-spacing: 1px;
}

.winner .playAgnBtn:hover {
  cursor: pointer;
  opacity: 0.9;
  box-Shadow:5px 5px 5px #ccc;
  transition: 0.3s;
}
